
function checkTableImg(name){

	if(name == '가렌'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Garen.jpg\">';
	}
	else if(name == '갱플랭크'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Gangplank.jpg\">';
	}
	else if(name == '궁극의 이즈리얼'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/UltimateEzreal.jpg\">';
	}
	else if(name == '나르'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Gnar.jpg\">';
	}
	else if(name == '나서스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Nasus.jpg\">';
	}
	else if(name == '누누'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Nunu.jpg\">';
	}
	else if(name == '니코'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Neeko.jpg\">';
	}
	else if(name == '닐라'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Nilah.jpg\">';
	}
	else if(name == '드레이븐'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Draven.jpg\">';
	}
	else if(name == '람머스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Rammus.jpg\">';
	}
	else if(name == '럭스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Lux.jpg\">';
	}
	else if(name == '레넥톤'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Renekton.jpg\">';
	}
	else if(name == '레오나'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Leona.jpg\">';
	}
	else if(name == '렐'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Rell.jpg\">';
	}
	else if(name == '루시안'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Lucian.jpg\">';
	}
	else if(name == '룰루'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Lulu.jpg\">';
	}
	else if(name == '르블랑'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Leblanc.jpg\">';
	}
	else if(name == '리신'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/LeeSin.jpg\">';	
	}
	else if(name == '리븐'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Riven.jpg\">';
	}
	else if(name == '말파이트'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Malphite.jpg\">';
	}
	else if(name == '모데카이저'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Mordekaiser.jpg\">';
	}
	else if(name == '모르가나'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Morgana.jpg\">';
	}
	else if(name == '미스 포츈'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/MissFortune.jpg\">';
	}
	else if(name == '바이'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Vi.jpg\">';
	}
	else if(name == '베인'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Vayne.jpg\">';
	}
	else if(name == '벡스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Vex.jpg\">';
	}
	else if(name == '벨베스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Belveth.jpg\">';
	}
	else if(name == '블리츠크랭크'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Blitzcrank.jpg\">';
	}
	else if(name == '비에고'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Viego.jpg\">';
	}
	else if(name == '뽀삐'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Poppy.jpg\">';
	}
	else if(name == '사미라'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Samira.jpg\">';
	}
	else if(name == '사일러스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Sylas.jpg\">';
	}
	else if(name == '소나'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Sona.jpg\">';
	}
	else if(name == '쉔'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Shen.jpg\">';
	}
	else if(name == '시비르'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Sivir.jpg\">';
	}
	else if(name == '신드라'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Syndra.jpg\">';
	}
	else if(name == '아우렐리온 솔'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/AurelionSol.jpg\">';
	}
	else if(name == '아트록스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Aatrox.jpg\">';
	}
	else if(name == '알리스타'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Alistar.jpg\">';
	}
	else if(name == '애니'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Annie.jpg\">';
	}
	else if(name == '애쉬'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Ashe.jpg\">';
	}
	else if(name == '야스오'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Yasuo.jpg\">';
	}
	else if(name == '에코'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Ekko.jpg\">';
	}
	else if(name == '오공'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/MonkeyKing.jpg\">';
	}
	else if(name == '우르곳'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Urgot.jpg\">';
	}
	else if(name == '워윅'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Warwick.jpg\">';
	}
	else if(name == '이즈리얼'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Ezreal.jpg\">';
	}
	else if(name == '잔나'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Janna.jpg\">';
	}
	else if(name == '잭스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Jax.jpg\">';
	}
	else if(name == '진'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Jhin.jpg\">';
	}
	else if(name == '징크스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Jinx.jpg\">';
	}
	else if(name == '카밀'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Camille.jpg\">';
	}
	else if(name == '카이사'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Kaisa.jpg\">';
	}
	else if(name == '케일'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Kayle.jpg\">';
	}
	else if(name == '트위스티드 페이트'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/TwistedFate.jpg\">';
	}
	else if(name == '파이크'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Pyke.jpg\">';
	}
	else if(name == '판테온'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Pantheon.jpg\">';
	}
	else if(name == '피들스틱'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Fiddlesticks.jpg\">';
	}
	else if(name == '피오라'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8_5/Fiora.jpg\">';
	}

}

