function checkChamp(name){
	var checkChampion = new Set();

	if(name == '레넥톤'){
		for(item of 슈리마) checkChampion.add(item);
		for(item of 난동꾼) checkChampion.add(item);
	}
	else if(name == '마오카이'){
		for(item of 그림자군도) checkChampion.add(item);
		for(item of 수호) checkChampion.add(item);
	}
	else if(name == '말자하'){
		for(item of 공허) checkChampion.add(item);
		for(item of 마법사) checkChampion.add(item);
	}
	else if(name == '비에고'){
		for(item of 그림자군도) checkChampion.add(item);
		for(item of 암살자) checkChampion.add(item);
	}
	else if(name == '뽀삐'){
		for(item of 데마시아) checkChampion.add(item);
		for(item of 요들) checkChampion.add(item);
		for(item of 수호) checkChampion.add(item);
	}
	else if(name == '사미라'){
		for(item of 녹서스) checkChampion.add(item);
		for(item of 도전자) checkChampion.add(item);
	}
	else if(name == '오리아나'){
		for(item of 필트오버) checkChampion.add(item);
		for(item of 마법사) checkChampion.add(item);
	}
	else if(name == '이렐리아'){
		for(item of 아이오니아) checkChampion.add(item);
		for(item of 도전자) checkChampion.add(item);
	}
	else if(name == '진'){
		for(item of 아이오니아) checkChampion.add(item);
		for(item of 명사수) checkChampion.add(item);
	}
	else if(name == '초가스'){
		for(item of 공허) checkChampion.add(item);
		for(item of 난동꾼) checkChampion.add(item);
	}
	else if(name == '카시오페아'){
		for(item of 녹서스) checkChampion.add(item);
		for(item of 슈리마) checkChampion.add(item);
		for(item of 기원자) checkChampion.add(item);
	}
	else if(name == '케일'){
		for(item of 데마시아) checkChampion.add(item);
		for(item of 학살자) checkChampion.add(item);
	}
	else if(name == '트리스타나'){
		for(item of 요들) checkChampion.add(item);
		for(item of 총잡이) checkChampion.add(item);
	}
	else if(name == '갈리오'){
		for(item of 데마시아) checkChampion.add(item);
		for(item of 기원자) checkChampion.add(item);	
	}
	else if(name == '바이'){
		for(item of 필트오버) checkChampion.add(item);
		for(item of 난동꾼) checkChampion.add(item);
	}
	else if(name == '세트'){
		for(item of 아이오니아) checkChampion.add(item);
		for(item of 전쟁기계) checkChampion.add(item);
	}
	else if(name == '소라카'){
		for(item of 타곤) checkChampion.add(item);
		for(item of 기원자) checkChampion.add(item);
	}
	else if(name == '스웨인'){
		for(item of 녹서스) checkChampion.add(item);
		for(item of 책략가) checkChampion.add(item);
		for(item of 마법사) checkChampion.add(item);
	}
	else if(name == '애쉬'){
		for(item of 프렐요드) checkChampion.add(item);
		for(item of 명사수) checkChampion.add(item);
	}
	else if(name == '워윅'){
		for(item of 자운) checkChampion.add(item);
		for(item of 도전자) checkChampion.add(item);
		for(item of 전쟁기계) checkChampion.add(item);
	}
	else if(name == '제드'){
		for(item of 아이오니아) checkChampion.add(item);
		for(item of 암살자) checkChampion.add(item);
		for(item of 학살자) checkChampion.add(item);
	}
	else if(name == '징크스'){
		for(item of 자운) checkChampion.add(item);
		for(item of 총잡이) checkChampion.add(item);
	}
	else if(name == '카사딘'){
		for(item of 공허) checkChampion.add(item);
		for(item of 수호) checkChampion.add(item);
	}
	else if(name == '클레드'){
		for(item of 녹서스) checkChampion.add(item);
		for(item of 요들) checkChampion.add(item);
		for(item of 학살자) checkChampion.add(item);
	}
	else if(name == '탈리야'){
		for(item of 슈리마) checkChampion.add(item);
		for(item of 다중주문) checkChampion.add(item);
	}
	else if(name == '티모'){
		for(item of 요들) checkChampion.add(item);
		for(item of 다중주문) checkChampion.add(item);
		for(item of 책략가) checkChampion.add(item);
	}
	else if(name == '가렌'){
		for(item of 데마시아) checkChampion.add(item);
		for(item of 전쟁기계) checkChampion.add(item);
	}
	else if(name == '다리우스'){
		for(item of 녹서스) checkChampion.add(item);
		for(item of 전쟁기계) checkChampion.add(item);
	}
	else if(name == '렉사이'){
		for(item of 공허) checkChampion.add(item);
		for(item of 난동꾼) checkChampion.add(item);
	}
	else if(name == '리산드라'){
		for(item of 프렐요드) checkChampion.add(item);
		for(item of 기원자) checkChampion.add(item);
	}
	else if(name == '벨코즈'){
		for(item of 공허) checkChampion.add(item);
		for(item of 다중주문) checkChampion.add(item);
		for(item of 마법사) checkChampion.add(item);
	}
	else if(name == '소나'){
		for(item of 데마시아) checkChampion.add(item);
		for(item of 다중주문) checkChampion.add(item);
	}
	else if(name == '아크샨'){
		for(item of 슈리마) checkChampion.add(item);
		for(item of 명사수) checkChampion.add(item);
	}
	else if(name == '에코'){
		for(item of 필트오버) checkChampion.add(item);
		for(item of 자운) checkChampion.add(item);
		for(item of 암살자) checkChampion.add(item);
	}
	else if(name == '제이스'){
		for(item of 필트오버) checkChampion.add(item);
		for(item of 총잡이) checkChampion.add(item);
	}
	else if(name == '카르마'){
		for(item of 아이오니아) checkChampion.add(item);
		for(item of 기원자) checkChampion.add(item);
	}
	else if(name == '카타리나'){
		for(item of 녹서스) checkChampion.add(item);
		for(item of 암살자) checkChampion.add(item);
	}
	else if(name == '칼리스타'){
		for(item of 그림자군도) checkChampion.add(item);
		for(item of 도전자) checkChampion.add(item);
	}
	else if(name == '타릭'){
		for(item of 타곤) checkChampion.add(item);
		for(item of 마법사) checkChampion.add(item);
		for(item of 수호) checkChampion.add(item);
	}
	else if(name == '그웬'){
		for(item of 그림자군도) checkChampion.add(item);
		for(item of 학살자) checkChampion.add(item);
	}
	else if(name == '나서스'){
		for(item of 슈리마) checkChampion.add(item);
		for(item of 전쟁기계) checkChampion.add(item);
	}
	else if(name == '럭스'){
		for(item of 데마시아) checkChampion.add(item);
		for(item of 마법사) checkChampion.add(item);
	}
	else if(name == '세주아니'){
		for(item of 프렐요드) checkChampion.add(item);
		for(item of 난동꾼) checkChampion.add(item);
	}
	else if(name == '쉔'){
		for(item of 아이오니아) checkChampion.add(item);
		for(item of 수호) checkChampion.add(item);
		for(item of 기원자) checkChampion.add(item);
	}
	else if(name == '아지르'){
		for(item of 슈리마) checkChampion.add(item);
		for(item of 책략가) checkChampion.add(item);
	}
	else if(name == '아펠리오스'){
		for(item of 타곤) checkChampion.add(item);
		for(item of 명사수) checkChampion.add(item);
	}
	else if(name == '야스오'){
		for(item of 아이오니아) checkChampion.add(item);
		for(item of 도전자) checkChampion.add(item);
	}
	else if(name == '우르곳'){
		for(item of 자운) checkChampion.add(item);
		for(item of 명사수) checkChampion.add(item);
	}
	else if(name == '자르반 4세'){
		for(item of 데마시아) checkChampion.add(item);
		for(item of 책략가) checkChampion.add(item);
	}
	else if(name == '제리'){
		for(item of 자운) checkChampion.add(item);
		for(item of 총잡이) checkChampion.add(item);
	}
	else if(name == '카이사'){
		for(item of 공허) checkChampion.add(item);
		for(item of 도전자) checkChampion.add(item);
	}
	else if(name == '라이즈'){
		for(item of 방랑자) checkChampion.add(item);
		for(item of 기원자) checkChampion.add(item);
	}
	else if(name == '벨베스'){
		for(item of 공허) checkChampion.add(item);
		for(item of 여제) checkChampion.add(item);
	}
	else if(name == '사이온'){
		for(item of 녹서스) checkChampion.add(item);
		for(item of 난동꾼) checkChampion.add(item);
	}
	else if(name == '세나'){
		for(item of 그림자군도) checkChampion.add(item);
		for(item of 총잡이) checkChampion.add(item);
		for(item of 구원자) checkChampion.add(item);
	}
	else if(name == '아리'){
		for(item of 아이오니아) checkChampion.add(item);
		for(item of 마법사) checkChampion.add(item);
	}
	else if(name == '아트록스'){
		for(item of 다르킨) checkChampion.add(item);
		for(item of 전쟁기계) checkChampion.add(item);
		for(item of 학살자) checkChampion.add(item);
	}
	else if(name == '크산테'){
		for(item of 슈리마) checkChampion.add(item);
		for(item of 수호) checkChampion.add(item);
	}
	else if(name == '하이머딩거'){
		for(item of 필트오버) checkChampion.add(item);
		for(item of 요들) checkChampion.add(item);
		for(item of 천재기술자) checkChampion.add(item);
	}
	return Array.from(checkChampion);
}
