
function checkTableImg(name){

	if(name == '갈리오'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Galio.jpg\">';
	}
	else if(name == '갱플랭크'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Gangplank.jpg\">';
	}
	else if(name == '나서스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Nasus.jpg\">';
	}
	else if(name == '누누'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Nunu.jpg\">';
	}
	else if(name == '닐라'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Nilah.jpg\">';
	}
	else if(name == '드레이븐'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Draven.jpg\">';
	}
	else if(name == '람머스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Rammus.jpg\">';
	}
	else if(name == '럭스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Lux.jpg\">';
	}
	else if(name == '레넥톤'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Renekton.jpg\">';
	}
	else if(name == '레오나'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Leona.jpg\">';
	}
	else if(name == '렐'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Rell.jpg\">';
	}
	else if(name == '룰루'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Lulu.jpg\">';
	}
	else if(name == '르블랑'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Leblanc.jpg\">';
	}
	else if(name == '리신'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/LeeSin.jpg\">';	
	}
	else if(name == '리븐'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Riven.jpg\">';
	}
	else if(name == '말파이트'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Malphite.jpg\">';
	}
	else if(name == '모데카이저'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Mordekaiser.jpg\">';
	}
	else if(name == '미스 포츈'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/MissFortune.jpg\">';
	}
	else if(name == '바이'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Vi.jpg\">';
	}
	else if(name == '베인'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Vayne.jpg\">';
	}
	else if(name == '벨베스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Belveth.jpg\">';
	}
	else if(name == '벨코즈'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Velkoz.jpg\">';
	}
	else if(name == '블리츠크랭크'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Blitzcrank.jpg\">';
	}
	else if(name == '비에고'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Viego.jpg\">';
	}
	else if(name == '뽀삐'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Poppy.jpg\">';
	}
	else if(name == '사미라'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Samira.jpg\">';
	}
	else if(name == '사일러스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Sylas.jpg\">';
	}
	else if(name == '세나'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Senna.jpg\">';
	}
	else if(name == '세주아니'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Sejuani.jpg\">';
	}
	else if(name == '세트'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Sett.jpg\">';
	}
	else if(name == '소나'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Sona.jpg\">';
	}
	else if(name == '소라카'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Soraka.jpg\">';
	}
	else if(name == '시비르'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Sivir.jpg\">';
	}
	else if(name == '신드라'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Syndra.jpg\">';
	}
	else if(name == '아우렐리온 솔'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/AurelionSol.jpg\">';
	}
	else if(name == '아펠리오스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Aphelios.jpg\">';
	}
	else if(name == '알리스타'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Alistar.jpg\">';
	}
	else if(name == '애니'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Annie.jpg\">';
	}
	else if(name == '애쉬'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Ashe.jpg\">';
	}
	else if(name == '야스오'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Yasuo.jpg\">';
	}
	else if(name == '에코'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Ekko.jpg\">';
	}
	else if(name == '오공'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/MonkeyKing.jpg\">';
	}
	else if(name == '우르곳'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Urgot.jpg\">';
	}
	else if(name == '유미'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Yuumi.jpg\">';
	}
	else if(name == '이즈리얼'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Ezreal.jpg\">';
	}
	else if(name == '자크'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Zac.jpg\">';
	}
	else if(name == '잔나'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Janna.jpg\">';
	}
	else if(name == '잭스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Jax.jpg\">';
	}
	else if(name == '제드'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Zed.jpg\">';
	}
	else if(name == '조이'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Zoe.jpg\">';
	}
	else if(name == '징크스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Jinx.jpg\">';
	}
	else if(name == '초가스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Chogath.jpg\">';
	}
	else if(name == '카밀'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Camille.jpg\">';
	}
	else if(name == '카이사'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Kaisa.jpg\">';
	}
	else if(name == '케일'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Kayle.jpg\">';
	}
	else if(name == '탈론'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Talon.jpg\">';
	}
	else if(name == '탈리야'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Taliyah.jpg\">';
	}
	else if(name == '피들스틱'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Fiddlesticks.jpg\">';
	}
	else if(name == '피오라'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/8/Fiora.jpg\">';
	}

}

