
function checkTableImg(name){
	if(name == '레넥톤'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Renekton.png\">';
	}
	else if(name == '마오카이'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Maokai.png\">';
	}
	else if(name == '말자하'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Malzahar.png\">';
	}
	else if(name == '비에고'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Viego.png\">';
	}
	else if(name == '뽀삐'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Poppy.png\">';
	}
	else if(name == '사미라'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Samira.png\">';
	}
	else if(name == '오리아나'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Orianna.png\">';
	}
	else if(name == '이렐리아'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Irelia.png\">';
	}
	else if(name == '진'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Jhin.png\">';
	}
	else if(name == '초가스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Chogath.png\">';
	}
	else if(name == '카시오페아'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Cassiopeia.png\">';
	}
	else if(name == '케일'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Kayle.png\">';
	}
	else if(name == '트리스타나'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Tristana.png\">';
	}
	else if(name == '갈리오'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Galio.png\">';
	}
	else if(name == '바이'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Vi.png\">';
	}
	else if(name == '세트'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Sett.png\">';
	}
	else if(name == '소라카'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Soraka.png\">';
	}
	else if(name == '스웨인'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Swain.png\">';
	}
	else if(name == '애쉬'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Ashe.png\">';
	}
	else if(name == '워윅'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Warwick.png\">';
	}
	else if(name == '제드'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Zed.png\">';
	}
	else if(name == '징크스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Jinx.png\">';
	}
	else if(name == '카사딘'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Kassadin.png\">';
	}
	else if(name == '클레드'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Kled.png\">';
	}
	else if(name == '탈리야'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Taliyah.png\">';
	}
	else if(name == '티모'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Teemo.png\">';
	}
	else if(name == '가렌'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Garen.png\">';
	}
	else if(name == '다리우스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Darius.png\">';
	}
	else if(name == '렉사이'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/RekSai.png\">';
	}
	else if(name == '리산드라'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Lissandra.png\">';
	}
	else if(name == '벨코즈'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Velkoz.png\">';
	}
	else if(name == '소나'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Sona.png\">';
	}
	else if(name == '아크샨'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Akshan.png\">';
	}
	else if(name == '에코'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Ekko.png\">';
	}
	else if(name == '제이스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Jayce.png\">';
	}
	else if(name == '카르마'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Karma.png\">';
	}
	else if(name == '카타리나'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Katarina.png\">';
	}
	else if(name == '칼리스타'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Kalista.png\">';
	}
	else if(name == '타릭'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Taric.png\">';
	}
	else if(name == '그웬'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Gwen.png\">';
	}
	else if(name == '나서스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Nasus.png\">';
	}
	else if(name == '럭스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Lux.png\">';
	}
	else if(name == '세주아니'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Sejuani.png\">';
	}
	else if(name == '쉔'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Shen.png\">';
	}
	else if(name == '아지르'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Azir.png\">';
	}
	else if(name == '아펠리오스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Aphelios.png\">';
	}
	else if(name == '야스오'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Yasuo.png\">';
	}
	else if(name == '우르곳'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Urgot.png\">';
	}
	else if(name == '자르반 4세'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/JarvanIV.png\">';
	}
	else if(name == '제리'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Zeri.png\">';
	}
	else if(name == '카이사'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Kaisa.png\">';
	}
	else if(name == '라이즈'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Ryze.png\">';
	}
	else if(name == '벨베스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Belveth.png\">';
	}
	else if(name == '사이온'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Sion.png\">';
	}
	else if(name == '세나'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Senna.png\">';
	}
	else if(name == '아리'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Ahri.png\">';
	}
	else if(name == '아트록스'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Aatrox.png\">';
	}
	else if(name == '크산테'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/KSante.png\">';
	}
	else if(name == '하이머딩거'){
		return '<img class=\'cost'+(checkCost(name)+1)+'\' src=\"./img/9/Heimerdinger.png\">';
	}
}

