
function checkCost(name){


	if(name == '레넥톤' || name == '마오카이' || name == '말자하' || name == '비에고' || name == '뽀삐' || name == '사미라' || name == '오리아나' || name == '이렐리아' || name == '진' || name == '초가스' || name == '카시오페아' || name == '케일' || name == '트리스타나') return 0;
	else if(name == '갈리오' || name == '바이' || name == '세트' || name == '소라카' || name == '스웨인' || name == '애쉬' || name == '워윅' || name == '제드' || name == '징크스' || name == '카사딘' || name == '클레드' || name == '탈리야' || name == '티모') return 1;
	else if(name == '가렌' || name == '다리우스' || name == '렉사이' || name == '리산드라' || name == '벨코즈' || name == '소나' || name == '아크샨' || name == '에코' || name == '제이스' || name == '카르마' || name == '카타리나' || name == '칼리스타' || name == '타릭') return 2;
	else if(name == '그웬' || name == '나서스' || name == '럭스' || name == '세주아니' || name == '쉔' || name == '아지르' || name == '아펠리오스' || name == '야스오' || name == '우르곳' || name == '자르반 4세' || name == '제리' || name == '카이사') return 3;
	else if(name == '라이즈' || name == '벨베스' || name == '사이온' || name == '세나' || name == '아리' || name == '아트록스' || name == '크산테' || name == '하이머딩거') return 4;

/* 8.5
	if(name == '갱플랭크' || name == '나서스' || name == '럭스' || name == '레넥톤' || name == '루시안' || name == '룰루' || name == '블리츠크랭크' || name == '뽀삐' || name == '사일러스' || name == '애쉬' || name == '오공' || name == '케일' || name == '판테온') return 0;
	else if(name == '드레이븐' || name == '렐' || name == '리신' || name == '말파이트' || name == '바이' || name == '시비르' || name == '애니' || name == '야스오' || name == '이즈리얼' || name == '징크스' || name == '카밀' || name == '파이크' || name == '피오라') return 1;
	else if(name == '나르' || name == '닐라' || name == '람머스' || name == '르블랑' || name == '리븐' || name == '모르가나' || name == '베인' || name == '벡스' || name == '소나' || name == '쉔' || name == '알리스타' || name == '잭스' || name == '카이사') return 2;
	else if(name == '가렌' || name == '니코' || name == '미스 포츈' || name == '벨베스' || name == '비에고' || name == '사미라' || name == '아우렐리온 솔' || name == '아트록스' || name == '에코' || name == '워윅' || name == '진' || name == '트위스티드 페이트') return 3;
	else if(name == '궁극의 이즈리얼' || name == '누누' || name == '레오나' || name == '모데카이저' || name == '신드라' || name == '우르곳' || name == '잔나' || name == '피들스틱') return 4;
*/
/* 8
	if(name == '갈리오'||name == '갱플랭크'||name == '나서스'||name == '럭스'||name == '레넥톤'||
		name == '룰루'||name == '블리츠크랭크'||name == '뽀삐'||name == '사일러스'||name == '애쉬'||
		name == '오공'||name == '케일'||name == '탈론') return 0;
	else if(name == '드레이븐'||name == '렐'||name == '리신'||name == '말파이트'||name == '바이'||
		name == '시비르'||name == '애니'||name == '야스오'||name == '유미'||name == '이즈리얼'||
		name == '징크스'||name == '카밀'||name == '피오라') return 1;
	else if(name == '닐라'||name == '람머스'||name == '르블랑'||name == '리븐'||name == '베인'||
		name == '벨코즈'||name == '세나'||name == '소나'||name == '알리스타'||name == '잭스'||
		name == '조이'||name == '초가스'||name == '카이사') return 2;
	else if(name == '미스 포츈'||name == '벨베스'||name == '비에고'||name == '사미라'||
		name == '세주아니'||name == '세트'||name == '소라카'||name == '아우렐리온 솔'||
		name == '에코'||name == '자크'||name == '제드'||name == '탈리야') return 3;
	else if(name == '누누'||name == '레오나'||name == '모데카이저'||name == '신드라'||
		name == '아펠리오스'||name == '우르곳'||name == '잔나'||name == '피들스틱') return 4;
*/

}
