//8.5

var riftwalker = new Array(0,1,1,1,0);//균열방랑자
var machine = new Array(2,1,1,0,1);//기계유망주
var animal = new Array(2,1,2,1,0);//동물특공대
var laser = new Array(2,1,0,1,1);//레이저단
var meca = new Array(1,1,1,1,1);//메카: 프라임
var infinity = new Array(2,1,1,1,1);//무한대팀
var star = new Array(1,1,2,2,1);//별 수호자
var superiority = new Array(1,2,0,0,0);//우세
var danger = new Array(0,0,2,3,2);//위협
var automatic = new Array(1,2,0,1,0);//자동방어체계
var underworld = new Array(1,2,1,1,0);//지하세계
var bull = new Array(0,2,1,1,0);//황소부대
var duelist = new Array(2,2,2,1,0);//결투가
var weather = new Array(0,0,0,0,1);//기상캐스터
var mascot = new Array(1,1,2,0,1);//마스코트
var outlaw = new Array(2,1,0,2,1);//무법자
var shield = new Array(0,1,1,1,1);//방패대
var linear = new Array(2,1,1,1,1);//선의
var rapid = new Array(1,1,1,1,0);//속사단
var broiler = new Array(2,2,2,1,0);//싸움꾼
var cover = new Array(2,1,2,1,0);//엄호대
var ace = new Array(0,1,0,2,1);//에이스
var humorist = new Array(0,1,1,1,0);//익살꾼
var spell = new Array(1,1,2,2,1);//주문투척자
var corruption = new Array(0,0,0,0,1);//타락
var shooter = new Array(1,1,0,1,1);//특등사수
var parallel = new Array(0,1,0,0,1);//평행세계
var hacker = new Array(0,1,2,0,0);//해커

/*
8
var machine = new Array(2,1,1,0,1);//기계유망주
var animal = new Array(2,1,2,1,0);//동물특공대
var laser = new Array(2,1,1,2,1);//레이저단
var meca = new Array(1,1,1,1,1);//메카: 프라임
var human = new Array(1,1,0,0,1);//민간인
var star = new Array(1,2,2,2,1);//별 수호자
var arsenal = new Array(0,0,0,0,1);//병기고
var superiority = new Array(1,2,0,0,0);//우세
var danger = new Array(0,0,3,3,2);//위협
var automatic = new Array(1,1,1,1,0);//자동방어체계
var underworld = new Array(1,2,1,1,0);//지하세계
var bull = new Array(1,2,1,1,1);//황소부대
var duelist = new Array(2,2,2,1,0);//결투가
var weather = new Array(0,0,0,0,1);//기상캐스터
var mascot = new Array(2,2,1,0,1);//마스코트
var outlaw = new Array(2,1,0,1,1);//무법자
var shield = new Array(0,1,1,1,1);//방패대
var linear = new Array(1,2,1,1,1);//선의
var broiler = new Array(2,2,2,1,0);//싸움꾼
var cover = new Array(2,1,1,1,0);//엄호대
var ace = new Array(0,1,0,2,1);//에이스
var humorist = new Array(0,1,1,1,0);//익살꾼
var scouting = new Array(1,1,2,0,0);//정찰대
var spell = new Array(1,1,2,1,1);//주문투척자
var corruption = new Array(0,0,0,0,1);//타락
var shooter = new Array(0,1,1,1,1);//특등사수
var hacker = new Array(0,0,2,1,0);//해커
*/
