
//시너지 8.5
var 균열방랑자 = new Array('파이크','벡스','진');
var 기계유망주 = new Array('룰루','뽀삐','애니','나르','누누');
var 동물특공대 = new Array('나서스','사일러스','징크스','리븐','베인','미스 포츈');
var 레이저단 = new Array('레넥톤','애쉬','야스오','워윅','모데카이저');
var 메카 = new Array('오공','드레이븐','잭스','가렌','레오나');
var 무한대팀 = new Array('루시안','판테온','시비르','쉔','트위스티드 페이트','궁극의 이즈리얼');
var 별수호자 = new Array('럭스','렐','닐라','카이사','니코','에코','신드라');
var 우세 = new Array('갱플랭크','리신','말파이트');
var 위협 = new Array('람머스','모르가나','벨베스','아우렐리온 솔','아트록스','우르곳','피들스틱');
var 자동방어체계 = new Array('블리츠크랭크','카밀','르블랑','워윅');
var 지하세계 = new Array('케일','바이','이즈리얼','소나','사미라');
var 황소부대 = new Array('애니','피오라','알리스타','비에고');
var 결투가 = new Array('갱플랭크','케일','야스오','피오라','닐라','베인','트위스티드 페이트');
var 기상캐스터 = new Array('잔나');
var 마스코트 = new Array('나서스','말파이트','벡스','알리스타','누누');
var 무법자 = new Array('루시안','사일러스','카밀','비에고','진','레오나');
var 방패대 = new Array('바이','알리스타','에코','레오나');
var 선의 = new Array('룰루','판테온','리신','소나','비에고','신드라');
var 속사단 = new Array('루시안','이즈리얼','카이사','미스 포츈');
var 싸움꾼 = new Array('레넥톤','블리츠크랭크','리신','바이','리븐','잭스','워윅');
var 엄호대 = new Array('뽀삐','오공','렐','리븐','쉔','가렌');
var 에이스 = new Array('드레이븐','미스 포츈','사미라','모데카이저');
var 익살꾼 = new Array('징크스','나르','에코');
var 주문투척자 = new Array('럭스','애니','르블랑','소나','니코','트위스티드 페이트','잔나');
var 타락 = new Array('피들스틱');
var 특등사수 = new Array('애쉬','시비르','사미라','궁극의 이즈리얼');
var 평행세계 = new Array('이즈리얼','궁극의 이즈리얼');
var 해커 = new Array('파이크','르블랑','쉔');


/* 8
var 기계유망주 = new Array('룰루','뽀삐','애니','조이','누누');
var 동물특공대 = new Array('나서스','사일러스','징크스','리븐','베인','미스 포츈');
var 레이저단 = new Array('레넥톤','애쉬','야스오','세나','세주아니','제드','모데카이저');
var 메카 = new Array('오공','드레이븐','잭스','세트','레오나');
var 민간인 = new Array('갈리오','시비르','잔나');
var 별수호자 = new Array('럭스','렐','유미','닐라','카이사','에코','탈리야','신드라');
var 병기고 = new Array('아펠리오스');
var 우세 = new Array('갱플랭크','리신','말파이트');
var 위협 = new Array('람머스','벨코즈','초가스','벨베스','아우렐리온 솔','자크','우르곳','피들스틱');
var 자동방어체계 = new Array('블리츠크랭크','카밀','르블랑','소라카');
var 지하세계 = new Array('케일','바이','이즈리얼','소나','사미라');
var 황소부대 = new Array('탈론','애니','피오라','알리스타','비에고','아펠리오스');
var 결투가 = new Array('갱플랭크','케일','야스오','피오라','닐라','베인','제드');
var 기상캐스터 = new Array('잔나');
var 마스코트 = new Array('갈리오','나서스','말파이트','유미','알리스타','누누');
var 무법자 = new Array('사일러스','탈론','카밀','비에고','레오나');
var 방패대 = new Array('바이','알리스타','에코','레오나');
var 선의 = new Array('룰루','리신','유미','소나','소라카','신드라');
var 싸움꾼 = new Array('레넥톤','블리츠크랭크','리신','바이','리븐','잭스','세주아니');
var 엄호대 = new Array('뽀삐','오공','렐','리븐','세트');
var 에이스 = new Array('드레이븐','미스 포츈','사미라','모데카이저');
var 익살꾼 = new Array('징크스','조이','에코');
var 정찰단 = new Array('애쉬','이즈리얼','베인','카이사');
var 주문투척자 = new Array('럭스','애니','르블랑','소나','탈리야','잔나');
var 타락 = new Array('피들스틱');
var 특등사수 = new Array('시비르','세나','사미라','아펠리오스');
var 해커 = new Array('르블랑','조이','제드');
*/
