//9
var 공허 = new Array('말자하','초가스','카사딘','렉사이','벨코즈','카이사','벨베스');
var 그림자군도 = new Array('마오카이','비에고','칼리스타','그웬','세나');
var 녹서스 = new Array('사미라','카시오페아','스웨인','클레드','다리우스','카타리나','사이온');
var 다르킨 = new Array('아트록스');
var 데마시아 = new Array('뽀삐','케일','갈리오','가렌','소나','럭스','자르반 4세');
var 방랑자 = new Array('라이즈');
var 슈리마 = new Array('레넥톤','카시오페아','탈리야','아크샨','나서스','아지르','크산테');
var 아이오니아 = new Array('이렐리아','진','세트','제드','카르마','쉔','야스오','아리');
var 요들 = new Array('뽀삐','트리스타나','클레드','티모','하이머딩거');
var 자운 = new Array('워윅','징크스','에코','우르곳','제리');
var 타곤 = new Array('소라카','타릭','아펠리오스');
var 프렐요드 = new Array('애쉬','리산드라','세주아니');
var 필트오버 = new Array('오리아나','바이','에코','제이스','하이머딩거');
var 구원자 = new Array('세나');
var 기원자 = new Array('카시오페아','갈리오','소라카','리산드라','카르마','쉔','라이즈');
var 난동꾼 = new Array('레넥톤','초가스','바이','렉사이','세주아니','사이온');
var 다중주문 = new Array('탈리야','티모','벨코즈','소나');
var 도전자 = new Array('사미라','이렐리아','워윅','칼리스타','야스오','카이사');
var 마법사 = new Array('말자하','오리아나','스웨인','벨코즈','타릭','럭스','아리');
var 명사수 = new Array('진','애쉬','아크샨','아펠리오스','우르곳');
var 수호 = new Array('마오카이','뽀삐','카사딘','타릭','쉔','크산테');
var 암살자 = new Array('비에고','제드','에코','카타리나');
var 여제 = new Array('벨베스');
var 전쟁기계 = new Array('세트','워윅','가렌','다리우스','나서스','아트록스');
var 책략가 = new Array('스웨인','티모','아지르','자르반 4세');
var 천재기술자 = new Array('하이머딩거');
var 총잡이 = new Array('트리스타나','징크스','제이스','제리','세나');
var 학살자 = new Array('케일','제드','클레드','그웬','아트록스');
/*
//시너지 8.5
var 균열방랑자 = new Array('파이크','벡스','진');
var 기계유망주 = new Array('룰루','뽀삐','애니','나르','누누');
var 동물특공대 = new Array('나서스','사일러스','징크스','리븐','베인','미스 포츈');
var 레이저단 = new Array('레넥톤','애쉬','야스오','워윅','모데카이저');
var 메카 = new Array('오공','드레이븐','잭스','가렌','레오나');
var 무한대팀 = new Array('루시안','판테온','시비르','쉔','트위스티드 페이트','궁극의 이즈리얼');
var 별수호자 = new Array('럭스','렐','닐라','카이사','니코','에코','신드라');
var 우세 = new Array('갱플랭크','리신','말파이트');
var 위협 = new Array('람머스','모르가나','벨베스','아우렐리온 솔','아트록스','우르곳','피들스틱');
var 자동방어체계 = new Array('블리츠크랭크','카밀','르블랑','워윅');
var 지하세계 = new Array('케일','바이','이즈리얼','소나','사미라');
var 황소부대 = new Array('애니','피오라','알리스타','비에고');
var 결투가 = new Array('갱플랭크','케일','야스오','피오라','닐라','베인','트위스티드 페이트');
var 기상캐스터 = new Array('잔나');
var 마스코트 = new Array('나서스','말파이트','벡스','알리스타','누누');
var 무법자 = new Array('루시안','사일러스','카밀','비에고','진','레오나');
var 방패대 = new Array('바이','알리스타','에코','레오나');
var 선의 = new Array('룰루','판테온','리신','소나','비에고','신드라');
var 속사단 = new Array('루시안','이즈리얼','카이사','미스 포츈');
var 싸움꾼 = new Array('레넥톤','블리츠크랭크','리신','바이','리븐','잭스','워윅');
var 엄호대 = new Array('뽀삐','오공','렐','리븐','쉔','가렌');
var 에이스 = new Array('드레이븐','미스 포츈','사미라','모데카이저');
var 익살꾼 = new Array('징크스','나르','에코');
var 주문투척자 = new Array('럭스','애니','르블랑','소나','니코','트위스티드 페이트','잔나');
var 타락 = new Array('피들스틱');
var 특등사수 = new Array('애쉬','시비르','사미라','궁극의 이즈리얼');
var 평행세계 = new Array('이즈리얼','궁극의 이즈리얼');
var 해커 = new Array('파이크','르블랑','쉔');
*/

/* 8
var 기계유망주 = new Array('룰루','뽀삐','애니','조이','누누');
var 동물특공대 = new Array('나서스','사일러스','징크스','리븐','베인','미스 포츈');
var 레이저단 = new Array('레넥톤','애쉬','야스오','세나','세주아니','제드','모데카이저');
var 메카 = new Array('오공','드레이븐','잭스','세트','레오나');
var 민간인 = new Array('갈리오','시비르','잔나');
var 별수호자 = new Array('럭스','렐','유미','닐라','카이사','에코','탈리야','신드라');
var 병기고 = new Array('아펠리오스');
var 우세 = new Array('갱플랭크','리신','말파이트');
var 위협 = new Array('람머스','벨코즈','초가스','벨베스','아우렐리온 솔','자크','우르곳','피들스틱');
var 자동방어체계 = new Array('블리츠크랭크','카밀','르블랑','소라카');
var 지하세계 = new Array('케일','바이','이즈리얼','소나','사미라');
var 황소부대 = new Array('탈론','애니','피오라','알리스타','비에고','아펠리오스');
var 결투가 = new Array('갱플랭크','케일','야스오','피오라','닐라','베인','제드');
var 기상캐스터 = new Array('잔나');
var 마스코트 = new Array('갈리오','나서스','말파이트','유미','알리스타','누누');
var 무법자 = new Array('사일러스','탈론','카밀','비에고','레오나');
var 방패대 = new Array('바이','알리스타','에코','레오나');
var 선의 = new Array('룰루','리신','유미','소나','소라카','신드라');
var 싸움꾼 = new Array('레넥톤','블리츠크랭크','리신','바이','리븐','잭스','세주아니');
var 엄호대 = new Array('뽀삐','오공','렐','리븐','세트');
var 에이스 = new Array('드레이븐','미스 포츈','사미라','모데카이저');
var 익살꾼 = new Array('징크스','조이','에코');
var 정찰단 = new Array('애쉬','이즈리얼','베인','카이사');
var 주문투척자 = new Array('럭스','애니','르블랑','소나','탈리야','잔나');
var 타락 = new Array('피들스틱');
var 특등사수 = new Array('시비르','세나','사미라','아펠리오스');
var 해커 = new Array('르블랑','조이','제드');
*/
